name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        include:
          # Python 3.10
          - { python: "3.10", tox-env: py310-airflow28 }
          - { python: "3.10", tox-env: py310-airflow29 }
          - { python: "3.10", tox-env: py310-airflow210 }
          - { python: "3.10", tox-env: py310-airflow30 }
          - { python: "3.10", tox-env: py310-airflow31 }
          # Python 3.11
          - { python: "3.11", tox-env: py311-airflow28 }
          - { python: "3.11", tox-env: py311-airflow29 }
          - { python: "3.11", tox-env: py311-airflow210 }
          - { python: "3.11", tox-env: py311-airflow30 }
          - { python: "3.11", tox-env: py311-airflow31 }
          # Python 3.12 (airflow 2.8/2.9 dropped)
          - { python: "3.12", tox-env: py312-airflow210 }
          - { python: "3.12", tox-env: py312-airflow30 }
          - { python: "3.12", tox-env: py312-airflow31 }
          # Integration tests (latest Airflow 2.x and 3.x)
          - { python: "3.12", tox-env: py312-airflow210-integration }
          - { python: "3.12", tox-env: py312-airflow31-integration }
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Set up Python ${{ matrix.python }}
        run: uv python install ${{ matrix.python }}

      - name: Install tox
        run: uv tool install tox --with tox-uv

      - name: Run tests
        run: tox -e ${{ matrix.tox-env }}
